<div class="container">

	<div class="row">
		<h4 class="col-md-9">
			Products </h4>
		<h4 class="col-md-3">
			Filter parameters </h4>
	</div>
	<div class="row">
		<div class="col-md-9">
			<div class="clear clearfix"></div>

			<script type="text/ng-template" id="nodes_renderer.html">
				<tr ng-class="{'enabled-false': !node.enabled, 'deleted-true': node.deleted}">
					<td class="small" style="width: 50px;">{{ node.id }}</td>
					<td>{{node.name | limitTo: 35}}...</td>
					<td>
						<span class="category-type-name" ng-class="{'hide': node.product_type_id == 0}">({{ node.type }})</span>
					</td>
					<td><span>{{node.sid}}</span></td>
					<td><span class="small">{{node.created_at | date:"dd.MM.yy HH:mm"}}</span></td>
					<td><span class="small">{{node.updated_at | date:"dd.MM.yy HH:mm"}}</span></td>
					<td>
						<a class="btn btn-xs" data-nodrag ng-click="toggleEnabled(node)" data-trigger="hover" data-placement="top" title="{{ node.enabled? 'disable': 'enable' }}" bs-tooltip><span class="fa" ng-class="{'fa-eye': node.enabled, 'fa-eye-slash': !node.enabled}"></span></a>
						<a class="btn btn-xs" data-nodrag ng-click="removeConfirm(node)" ng-class="{'disabled': node.deleted}"><span class="fa fa-remove pink"></span></a>
					</td>
				</tr>
			</script>
			<div id="product-list-root">
				<div cg-busy="loadingOverlay">
					<table class="table product-list-table table-hover">
						<tr>
							<td>id</td>
							<td style="width: 40%;">
								<product-filter-list-sorting name="name">Name</product-filter-list-sorting>
							</td>
							<td>
								<product-filter-list-sorting name="type">Type</product-filter-list-sorting>
							</td>
							<td>sid</td>
							<td>
								<product-filter-list-sorting name="updated_at">Updated</product-filter-list-sorting>
							</td>
							<td>
								<product-filter-list-sorting name="created_at">Created</product-filter-list-sorting>
							</td>
							<td></td>
						</tr>
						<tbody ng-repeat="node in data" ng-include="'nodes_renderer.html'"></tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="col-md-3" ng-controller="productListFilter">
			<form novalidate ng-submit="submit()">

				<div class="form-group col-md-12">
					<div class="col-md-2">
						<button class="btn btn-default btn-xs pull-left" ng-mousedown="refresh()">
							<i class="fa fa-refresh"></i></button>
					</div>
					<div class="col-md-10">refresh</div>
				</div>

				<div class="form-group col-md-12">
					<div class="col-md-2">
						<button class="btn btn-default btn-xs pull-left" ng-mousedown="showSelectCategoryForm()">
							<i class="fa fa-tree"></i></button>
					</div>
					<div class="col-md-10">
						categories
						<a class="btn btn-xs" data-nodrag ng-click="removeParam('categories')" ng-show="sizeOfParam('categories') > 0">({{sizeOfParam('categories')}})
							<span class="fa fa-remove pink"></span></a>
					</div>
				</div>

				<div class="form-group col-md-12">
					<div class="col-md-2">
						<button class="btn btn-default btn-xs pull-left" ng-click="showSelectTypeForm()">
							<i class="fa fa-code-fork"></i></button>
					</div>
					<div class="col-md-10">
						types
						<a class="btn btn-xs" data-nodrag ng-click="removeParam('types')" ng-show="sizeOfParam('types') > 0">({{sizeOfParam('types')}})
							<span class="fa fa-remove pink"></span></a>
					</div>
				</div>

				<div class="form-group col-md-12">
					<div class="col-md-2">
						<button class="btn btn-default btn-xs pull-left" ng-click="showSelectTagsForm()">
							<i class="fa fa-tags"></i>
						</button>
					</div>
					<div class="col-md-10">
						labels
						<a class="btn btn-xs" data-nodrag ng-click="removeParam('tags')" ng-show="sizeOfParam('tags') > 0">({{sizeOfParam('tags')}})
							<span class="fa fa-remove pink"></span></a>
					</div>
				</div>

				<div class="form-group col-md-12">

					<div class="col-md-2">
						<button class="btn btn-default btn-xs pull-left" ng-click="enabled('1')">
							<i class="fa fa-circle-o" ng-class="{'fa-dot-circle-o': enabled() === '1'}"></i>
						</button>
					</div>
					<div class="col-md-3">Enabled</div>

					<div class="col-md-1"></div>

					<div class="col-md-2">
						<button class="btn btn-default btn-xs pull-left" ng-click="enabled('0')">
							<i class="fa fa-circle-o" ng-class="{'fa-dot-circle-o': enabled() === '0'}"></i>
						</button>
					</div>
					<div class="col-md-3">Disabled</div>

				</div>

				<div class="form-group col-md-12">

					<div class="col-md-2">
						<button class="btn btn-default btn-xs pull-left" ng-click="deleted('0')">
							<i class="fa fa-circle-o" ng-class="{'fa-dot-circle-o': deleted() === '0'}"></i>
						</button>
					</div>
					<div class="col-md-3">Alive</div>

					<div class="col-md-1"></div>

					<div class="col-md-2">
						<button class="btn btn-default btn-xs pull-left" ng-click="deleted('1')">
							<i class="fa fa-circle-o" ng-class="{'fa-dot-circle-o': deleted() === '1'}"></i>
						</button>
					</div>
					<div class="col-md-3">Deleted</div>

				</div>

				<div class="form-group col-md-12">
					<div class="col-md-12">
						<label>search by name</label>
					</div>
					<div class="col-md-12">
						<input type="text" value="{{form.name}}" name="name" ng-model="form.name" class="form-control pull-left" style="width: 80%" placeholder="search by name" />
						<button class="btn btn-default btn-xs pull-right" ng-click="submit()">
							<i class="fa fa-search"></i>
						</button>
					</div>
				</div>

				<div class="form-group col-md-12">
					<div class="col-md-12">
						<label>internal character code</label>
					</div>
					<div class="col-md-12">
						<input type="text" value="{{form.sid}}" name="sid" ng-model="form.sid" class="form-control pull-left" style="width: 80%" placeholder="search by internal code" />
						<button class="btn btn-default btn-xs pull-right" ng-click="submit()">
							<i class="fa fa-search"></i>
						</button>
					</div>
				</div>

				<div class="form-group col-md-12">
					<div class="col-md-12">
						<label>external character code</label>
					</div>
					<div class="col-md-12">
						<input type="text" value="{{form.code}}" name="code" ng-model="form.code" class="form-control pull-left" style="width: 80%" placeholder="search by external code" />
						<button class="btn btn-default btn-xs pull-right" ng-click="submit()">
							<i class="fa fa-search"></i>
						</button>
					</div>
				</div>

			</form>
		</div>

	</div>

</div>
