<div class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" style="width: 300px; right: 0; margin-right: 0;">
		<div class="modal-content">
			<div class="modal-header" ng-show="title">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 class="modal-title" ng-bind="title"></h4>
			</div>
			<div class="modal-body" select-list-callback>
			</div>
			<div class="modal-global-error clear clearfix" style="display: none;"></div>
		</div>
	</div>
</div>

