.btn {
	margin-right: 8px;
}

.angular-ui-tree-handle {
	background: #f8faff;
	border-top: 0;
	border-right: 0;
	border-left: 1px solid lightgray;
	border-bottom: 1px solid grey;
	padding: 3px 3px;
	font-weight: normal;
}

.angular-ui-tree-handle .btn-xs {
	margin-right: 8px;
}

.angular-ui-tree-handle .i {
	border-color: red;
}

.angular-ui-tree-handle:hover {
	color: #438eb9;
	background: #e5edf7;
}

.angular-ui-tree-nodes .enabled-false {
	color: lightgray;
}

.angular-ui-tree-nodes .deleted-true {
	color: pink;
}

.angular-ui-tree-placeholder {
	background: #f0f9ff;
	border: 1px dotted #b58f93;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.group-title {
	background-color: #687074 !important;
	color: #FFF !important;
}

.modal-backdrop.am-fade {
	opacity: 0.3;
}

form div.form-group {
	position: relative;
}

form div.error {
	position: absolute;
	margin: 3px;
	width: 200px;
	padding: 3px;
	background-color: lightpink;
	color: deeppink;
	border: 1px solid pink;
	top: 0;
	right: 15px;
	font-size: 10px;
}

.cg-busy-default-text {
	text-align: center;
	margin: 10px;
}

.cg-busy-default-sign{
	position:fixed;
	background-color: #c4f1c2;
	width: 300px;
	height: 100px;
	left: 42%;
	top: 10%;
}

.cg-busy-default-spinner{
	position: relative;
	left: 0;
}

.cg-busy-backdrop {
	background-color:white;
	opacity:0;
}


.alert.ff-cat-alert {
	display: none;
	width: 90%;
	position: fixed;
	top: 20%;
	left: 5%;
	z-index: 999;
}

.alert .buttons button {
	margin: 30px;
}

.alert .text {
	font-size: 1.3em;
}

.category-type-name {
	color: #009dd8;
	font-style: italic;
	font-size: 0.8em;
}

.modal-global-error {
	padding: 20px;
	color: red;
}

.btn.disabled {
	color: #d3d3d3;
}

.pink {
	color: pink;
}

.test {
	color: #000011;
}

#product-list-root ul,
#product-list-root li {
	list-style: none;
	padding: 0;
	margin: 0;
}

#product-list-root li div.ng-binding {
	background: #f8faff;
	border-top: 0;
	border-right: 0;
	border-left: 1px solid lightgray;
	border-bottom: 1px solid grey;
	padding: 3px 3px;
	font-weight: normal;
}

form .form-control {
	padding: 3px;
	height: 30px;
}

#modalCategorySelect ul,
#modalCategorySelect li {
	list-style: none;
	margin: 0;
	padding: 0;
}

#modalCategorySelect div {
	padding: 2px 2px;
	font-weight: normal;
	font-size: .9em;
	height: 24px;
}

#modalCategorySelect div a.btn-xs {
	padding: 2px;
	margin-right: 10px;
}

#modalCategorySelect div a {
	color: inherit;
	text-decoration: none;
}

#modalCategorySelect div a:hover {
	color: #008cba;
}

#modalCategorySelect div a.checked {
	color: #008cba;
}

#modalCategorySelect div a.checked:hover {
	color: #000000;
	text-decoration: none;
}

#modalCategorySelect .pl0 {
	padding-left: 0;
}

#modalCategorySelect .pl1 {
	padding-left: 20px;
}

#modalCategorySelect .pl2 {
	padding-left: 40px;
}

#modalCategorySelect .pl3 {
	padding-left: 60px;
}

#modalCategorySelect .pl4 {
	padding-left: 80px;
}

#modalCategorySelect .pl5 {
	padding-left: 100px;
}

#modalCategorySelect .pl6 {
	padding-left: 120px;
}

#modalCategorySelect .pl7 {
	padding-left: 140px;
}

#modalCategorySelect .pl8 {
	padding-left: 160px;
}


